.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}



/* ===========container============ */
.container {
  /* background-color: #546de5; */
}

/* ===========homepage image============ */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #dfe4ea;
  justify-content: space-between;
}

.herosCard {
  background-color: #ced6e0;
  padding: 2px;
  margin: 10px;
  border-radius: 10px;
  margin: auto;
}

.imageGrid {
  background-color: #a4b0be;
  width: 10vw;
  height: 10hw;
  margin: 10px 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 30px;
}


.collectionItem {
  width: 50vw;
  list-style-type: none;
  margin: 2em 2em;
  background-color: #f1f2f6;
}